In [1]:
def add(a, b):
    """ 이 함수는 a, b를 더한 뒤 결과를 반영하는 함수입니다. """
    return a + b

x = add(10, 20)
print(x)

print(add.__doc__)

30
 이 함수는 a, b를 더한 뒤 결과를 반영하는 함수입니다.

In [2]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a, b를 더한 뒤 결과를 반영하는 함수입니다.

In [6]:
def one():
    return 1

x = one()
x

1

In [11]:
def not_ten(a):
    if a == 10:
        return
    print(a, '입니다.', sep='')
    
not_ten(5)
not_ten(10)

5입니다.

## 29.4 함수에서 값을 여러 개 반환하기

In [12]:
def add_sub(a, b):
    return a+b, a-b

In [13]:
x, y = add_sub(10, 20)

In [14]:
x

30

In [15]:
y

-10

 return으로 값을 여러 개 반환하면 실제로는 튜플이 반환

In [16]:
x = add_sub(10, 20)

In [17]:
x

(30, -10)

튜플이 변수 여러 개에 할당되는 특성을 이용한 것입니다(언패킹).

In [18]:
x, y = (30, -10)

In [19]:
x

30

In [20]:
y

-10

함수에서 값 여러 개를 직접 반환할 때는 다음과 같이 return에 튜플을 지정

In [21]:
def one_two():
    return (1, 2)

Return 1, 2는 return (1, 2)와 의미가 같습니다.

return에서 리스트를 직접 반환해도 됩니다

In [22]:
def one_two():
    return [1, 2]

x, y = one_two()
print(x, y)

1 2

In [23]:
# function_call.py
def mul(a, b):
    c = a * b
    return c

def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)
    
x = 10
y = 20
add(x, y)

30
200